<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atap Sore</title>
    <link rel="stylesheet" href="components.css" />
    <link rel="icon" href="assets/icons/tea-cup.png" />
  </head>
  <body>
    <form class="order-form">
      <h1>Order Pesanan</h1>
      <table>
        <tr>
          <th>Nama</th>
          <td>
            <input
              type="text"
              id="nama"
              name="nama"
              pattern="[a-zA-Z\s]+"
              required
            />
          </td>
        </tr>
        <tr>
          <th>Email</th>
          <td><input type="email" id="email" name="email" required /></td>
        </tr>
        <tr>
          <th>Produk yang Dipesan</th>
          <td><input type="text" id="produk" name="produk" required /></td>
        </tr>
        <tr>
          <th>Jumlah</th>
          <td>
            <input type="number" id="jumlah" name="jumlah" min="1" required />
          </td>
        </tr>
        <tr>
          <td>
          </td>
        </tr>
      </table>
      <button type="submit">Pesan Sekarang</button>
    </form>
  </body>
</html>
